application:
  name: PetsUp Dev Env

spring:
  h2:
    console:
      enabled: true
  datasource:
    url: jdbc:h2:mem:petsup
  jpa:
    defer-datasource-initialization: true
    hibernate:
      ddl-auto: update